# Marketing Leads Conversion - Data Sanity Checks
- Join Data
- Identify Data Types - Continuous, Categorical, Date
    - Convert to right Data Type
- Identify Missing Values
- Impute Missing Values
    - Continuous
    - Categorical
- Create Features
    - Lead_Creation_Date
    - Existing EMI Percentage

## 1/ Import Libraries

In [1]:
# pandas, numpy
import pandas as pd
import numpy as np

## 2/ Import Data
- t1_leads
- t6_emi
- test

**Extra:** Join other tables to build a more comprehensive training data

In [4]:
t1_leads = pd.read_csv('t1_leads.csv', low_memory=False)
t6_emi = pd.read_csv('t6_emi.csv', low_memory=False)

t2_city = pd.read_csv('t2_city.csv', low_memory=False)
t3_employer = pd.read_csv('t3_employer.csv', low_memory=False)

#Test Data - Final Predictions
test = pd.read_csv('test.csv', low_memory=False)

#t4_bank = pd.read_csv('t4_bank.csv', low_memory=False)
#t5_source = pd.read_csv('t5_source.csv', low_memory=False)

### Check first 5 rows

In [5]:
t1_leads.head()

,ID,Gender,DOB,Lead_Creation_Date,City_Code,Employer_Code,Monthly_Income,Customer_Existing_Primary_Bank_Code,Contacted,Source,Existing_EMI,Loan_Amount,Loan_Period,Var1,Approved
0,APPC90493171225,Female,23-07-1979,15-07-2016,C10001,COM0044082,2000.0,B001,N,S122,0.0,NaN,NaN,0,0
1,APPD40611263344,Male,07-12-1986,04-07-2016,C10003,COM0000002,3500.0,B002,Y,S122,0.0,20000.0,2.0,10,0
2,APPE70289249423,Male,10-12-1982,19-07-2016,C10125,COM0005267,2250.0,B003,Y,S143,0.0,45000.0,4.0,0,0
3,APPF80273865537,Male,30-01-1989,09-07-2016,C10477,COM0004143,3500.0,B003,Y,S143,0.0,92000.0,5.0,7,0
4,APPG60994436641,Male,19-04-1985,20-07-2016,C10002,COM0001781,10000.0,B001,Y,S134,2500.0,50000.0,2.0,10,0

In [10]:
t3_employer.head()

  Employer_Code Employer_Category1  Employer_Category2
0    COM0044082                  A                 4.0
1    COM0000002                  C                 1.0
2    COM0005267                  C                 4.0
3    COM0004143                  A                 4.0
4    COM0001781                  A                 4.0

In [7]:
test.head()

,ID,Gender,DOB,Lead_Creation_Date,City_Code,City_Category,Employer_Code,Employer_Category1,Employer_Category2,Monthly_Income,...,Primary_Bank_Type,Contacted,Source,Source_Category,Existing_EMI,Loan_Amount,Loan_Period,Interest_Rate,EMI,Var1
0,APPA70109647212,Male,03/06/88,05/07/16,C10028,C,COM0002222,A,4.0,2150.0,...,P,Y,S122,B,0.0,10000.0,3.0,20.0,372.0,4
1,APPB10687939341,Male,13/07/81,01/07/16,C10003,A,COM0001784,C,4.0,4200.0,...,P,Y,S133,C,0.0,69000.0,5.0,24.0,1985.0,7
2,APPC80449411414,Female,19/11/90,01/07/16,C10009,B,COM0045260,B,4.0,1000.0,...,P,N,S133,B,0.0,NaN,NaN,NaN,NaN,0
3,APPD30665094501,Female,15/10/92,01/07/16,C10005,A,COM0000085,A,3.0,1465.0,...,P,N,S133,C,0.0,NaN,NaN,NaN,NaN,0
4,APPE80379821637,Male,21/09/88,01/07/16,C10005,A,COM0006422,A,4.0,2340.0,...,P,Y,S143,B,500.0,10000.0,2.0,NaN,NaN,0

## 3/ Join Data

In [21]:
# Which join should you use?
# 70000 Applicants - Only 22277 have EMI and Interest Rate?
# Left - t1_leads
# Right - t6_emi

train = pd.merge(t1_leads, t6_emi, how = 'left',on = 'ID')

In [22]:
# Join City - t2_city
train = pd.merge(train, t2_city, how = 'left',on = 'City_Code')

In [23]:
# Join Employer - t3_employer
train = pd.merge(train, t3_employer, how = 'left',on = 'Employer_Code')

In [19]:
train.head()

,ID,Gender,DOB,Lead_Creation_Date,City_Code,Employer_Code,Monthly_Income,Customer_Existing_Primary_Bank_Code,Contacted,Source,Existing_EMI,Loan_Amount,Loan_Period,Var1,Approved,Interest_Rate,EMI,City_Category,Employer_Category1,Employer_Category2
0,APPD40611263344,Male,07-12-1986,04-07-2016,C10003,COM0000002,3500.0,B002,Y,S122,0.0,20000.0,2.0,10,0,13.25,953,A,C,1.0
1,APPK80327232033,Male,28-03-1973,02-07-2016,C10022,COM0030526,7500.0,B003,Y,S122,0.0,130000.0,5.0,10,0,14.85,3082,B,B,4.0
2,APPL20820172146,Female,12-11-1990,03-07-2016,C10003,COM0016738,3000.0,B006,Y,S133,0.0,30000.0,3.0,0,0,18.25,1088,A,A,4.0
3,APPM30977401211,Male,03-03-1977,02-07-2016,C10003,COM0010626,2500.0,B017,Y,S133,0.0,66000.0,5.0,7,0,20.00,1749,A,A,4.0
4,APPP50632654511,Male,24-08-1983,09-07-2016,C10030,COM0002632,2700.0,B003,Y,S133,460.0,20000.0,5.0,7,0,18.00,508,B,B,4.0

In [24]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69713 entries, 0 to 69712
Data columns (total 20 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ID                                   69713 non-null  object
 1   Gender                               69713 non-null  object
 2   DOB                                  69698 non-null  object
 3   Lead_Creation_Date                   69713 non-null  object
 4   City_Code                            68899 non-null  object
 5   Employer_Code                        65695 non-null  object
 6   Monthly_Income                       69713 non-null  float64
 7   Customer_Existing_Primary_Bank_Code  60322 non-null  object
 8   Contacted                            69713 non-null  object
 9   Source                               69713 non-null  object
 10  Existing_EMI                         69662 non-null  float64
 11  Loan_Amount                          42004 non-null  float64
 12  Loan_Period                          42004 non-null  float64
 13  Var1                                 69713 non-null  int64
 14  Approved                             69713 non-null  int64
 15  Interest_Rate                        22276 non-null  float64
 16  EMI                                  22276 non-null  float64
 17  City_Category                        68899 non-null  object
 18  Employer_Category1                   65695 non-null  object
 19  Employer_Category2                   65415 non-null  float64
dtypes: float64(7), int64(2), object(11)
memory usage: 11.2+ MB

## 4/ Convert String to Date Format

### Convert: Lead_Creation_Date

In [29]:
train['Lead_Creation_Date'] = pd.to_datetime(train['Lead_Creation_Date'], infer_datetime_format = True)
# for test too
test['Lead_Creation_Date'] = pd.to_datetime(test['Lead_Creation_Date'], infer_datetime_format = True)

In [34]:
train.info()

### Convert: DOB

In [30]:
train['DOB'] = pd.to_datetime(train['DOB'], infer_datetime_format = True)
test['DOB'] = pd.to_datetime(test['DOB'], infer_datetime_format = True)

In [35]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69713 entries, 0 to 69712
Data columns (total 20 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ID                                   69713 non-null  object
 1   Gender                               69713 non-null  object
 2   DOB                                  69698 non-null  datetime64[ns]
 3   Lead_Creation_Date                   69713 non-null  datetime64[ns]
 4   City_Code                            68899 non-null  object
 5   Employer_Code                        65695 non-null  object
 6   Monthly_Income                       69713 non-null  float64
 7   Customer_Existing_Primary_Bank_Code  60322 non-null  object
 8   Contacted                            69713 non-null  object
 9   Source                               69713 non-null  object
 10  Existing_EMI                         69662 non-null  float64
 11  Loan_Amount                          42004 non-null  float64
 12  Loan_Period                          42004 non-null  float64
 13  Var1                                 69713 non-null  int64
 14  Approved                             69713 non-null  int64
 15  Interest_Rate                        22276 non-null  float64
 16  EMI                                  22276 non-null  float64
 17  City_Category                        68899 non-null  object
 18  Employer_Category1                   65695 non-null  object
 19  Employer_Category2                   65415 non-null  float64
dtypes: datetime64[ns](2), float64(7), int64(2), object(9)
memory usage: 11.2+ MB

## 5/ Identify Missing Values

### Option 1: info

In [36]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69713 entries, 0 to 69712
Data columns (total 20 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ID                                   69713 non-null  object
 1   Gender                               69713 non-null  object
 2   DOB                                  69698 non-null  datetime64[ns]
 3   Lead_Creation_Date                   69713 non-null  datetime64[ns]
 4   City_Code                            68899 non-null  object
 5   Employer_Code                        65695 non-null  object
 6   Monthly_Income                       69713 non-null  float64
 7   Customer_Existing_Primary_Bank_Code  60322 non-null  object
 8   Contacted                            69713 non-null  object
 9   Source                               69713 non-null  object
 10  Existing_EMI                         69662 non-null  float64
 11  Loan_Amount                          42004 non-null  float64
 12  Loan_Period                          42004 non-null  float64
 13  Var1                                 69713 non-null  int64
 14  Approved                             69713 non-null  int64
 15  Interest_Rate                        22276 non-null  float64
 16  EMI                                  22276 non-null  float64
 17  City_Category                        68899 non-null  object
 18  Employer_Category1                   65695 non-null  object
 19  Employer_Category2                   65415 non-null  float64
dtypes: datetime64[ns](2), float64(7), int64(2), object(9)
memory usage: 11.2+ MB

### Option 2: isnull + sum

In [38]:
train.isnull().sum()

ID                                         0
Gender                                     0
DOB                                       15
Lead_Creation_Date                         0
City_Code                                814
Employer_Code                           4018
Monthly_Income                             0
Customer_Existing_Primary_Bank_Code     9391
Contacted                                  0
Source                                     0
Existing_EMI                              51
Loan_Amount                            27709
Loan_Period                            27709
Var1                                       0
Approved                                   0
Interest_Rate                          47437
EMI                                    47437
City_Category                            814
Employer_Category1                      4018
Employer_Category2                      4298
dtype: int64

### Option 3: Percentage Missing

In [42]:
(train.isnull().sum()/len(train))

ID                                     0.000000
Gender                                 0.000000
DOB                                    0.000215
Lead_Creation_Date                     0.000000
City_Code                              0.011676
Employer_Code                          0.057636
Monthly_Income                         0.000000
Customer_Existing_Primary_Bank_Code    0.134709
Contacted                              0.000000
Source                                 0.000000
Existing_EMI                           0.000732
Loan_Amount                            0.397472
Loan_Period                            0.397472
Var1                                   0.000000
Approved                               0.000000
Interest_Rate                          0.680461
EMI                                    0.680461
City_Category                          0.011676
Employer_Category1                     0.057636
Employer_Category2                     0.061653
dtype: float64

## **Additional : Export Missing Value Perc Data
- Convert Series (Index + Values) to DataFrame
- Export Table (use name - missing_value_summary.csv)

In [43]:
# Create Series of Percentage Missing
missing_value_percentage = (train.isnull().sum()/len(train))

In [48]:
missing_value_percentage.values

array([0.00000000e+00, 0.00000000e+00, 2.15167903e-04, 0.00000000e+00,
       1.16764449e-02, 5.76363089e-02, 0.00000000e+00, 1.34709452e-01,
       0.00000000e+00, 0.00000000e+00, 7.31570869e-04, 3.97472494e-01,
       3.97472494e-01, 0.00000000e+00, 0.00000000e+00, 6.80461320e-01,
       6.80461320e-01, 1.16764449e-02, 5.76363089e-02, 6.16527764e-02])

In [44]:
# Check Data Type
type(missing_value_percentage)

pandas.core.series.Series

In [50]:
# Create DataFrame
missing_value_summary = pd.DataFrame({
   'Feature_Name' : missing_value_percentage.index,
    'Missing_Percentage' : missing_value_percentage.values
})

In [52]:
#missing_value_summary

In [53]:
#Export DataFrame
missing_value_summary.to_csv('missing_value_summary.csv', index = False)

## 6/ Impute Missing Values

### 1/ Continuous - Loan_Period

In [55]:
# Check Missing
train['Loan_Period'].isnull().sum()

27709

#### Option 1: fillna - default options
- bfill
- ffill

In [59]:
train['Loan_Period'].fillna(method = 'bfill').isnull().sum()

0

#### Option 2: fillna with mean, median, mode

In [61]:
train['Loan_Period'].fillna(train['Loan_Period'].mean())

0        3.890629
1        2.000000
2        4.000000
3        5.000000
4        2.000000
           ...
69708    3.890629
69709    3.890629
69710    4.000000
69711    5.000000
69712    4.000000
Name: Loan_Period, Length: 69713, dtype: float64

#### Commit Changes to Missing Value Column

In [64]:
train['Loan_Period'] = train['Loan_Period'].fillna(train['Loan_Period'].median())

### 2/ Continuous - Loan_Amount

#### Option 1, 2: fillna

#### Commit Changes to Missing Value Column

In [62]:
train['Loan_Amount'] = train['Loan_Amount'].fillna(train['Loan_Amount'].median())

In [65]:
train.isnull().sum()

ID                                         0
Gender                                     0
DOB                                       15
Lead_Creation_Date                         0
City_Code                                814
Employer_Code                           4018
Monthly_Income                             0
Customer_Existing_Primary_Bank_Code     9391
Contacted                                  0
Source                                     0
Existing_EMI                              51
Loan_Amount                                0
Loan_Period                                0
Var1                                       0
Approved                                   0
Interest_Rate                          47437
EMI                                    47437
City_Category                            814
Employer_Category1                      4018
Employer_Category2                      4298
dtype: int64

### 3/ Categorical - City_Code/City_Category

In [69]:
train['City_Category'].value_counts(dropna=False)

A      49885
C      11694
B       7320
NaN      814
Name: City_Category, dtype: int64

#### Option 1,2 - fillna

In [73]:
train['City_Category'].fillna("missing").value_counts(dropna=False)

A          49885
C          11694
B           7320
missing      814
Name: City_Category, dtype: int64

In [ ]:
#train['City_Category'] = train['City_Category'].fillna("missing")

In [77]:
train['City_Category'].mode()[0]

'A'

In [78]:
train['City_Category'] = train['City_Category'].fillna(train['City_Category'].mode()[0])

In [80]:
train.isnull().sum()

ID                                         0
Gender                                     0
DOB                                       15
Lead_Creation_Date                         0
City_Code                                814
Employer_Code                           4018
Monthly_Income                             0
Customer_Existing_Primary_Bank_Code     9391
Contacted                                  0
Source                                     0
Existing_EMI                              51
Loan_Amount                                0
Loan_Period                                0
Var1                                       0
Approved                                   0
Interest_Rate                          47437
EMI                                    47437
City_Category                              0
Employer_Category1                      4018
Employer_Category2                      4298
dtype: int64

### 4/ Categorical - Employer_Category1

#### Option 1, 3: fillna

## 7/ Build Model