In [1]:
import pandas as pd
df = pd.read_csv("weather.csv")
df

       date      city  temperature  humidity
0  5/1/2017  new york           65        56
1  5/2/2017  new york           66        58
2  5/3/2017  new york           68        60
3  5/1/2017    mumbai           75        80
4  5/2/2017    mumbai           78        83
5  5/3/2017    mumbai           82        85
6  5/1/2017   beijing           80        26
7  5/2/2017   beijing           77        30
8  5/3/2017   beijing           79        35

In [26]:
df.pivot(index='city',columns='date',values="humidity",aggfunc =pd.Series.nunique)

TypeError: DataFrame.pivot() got an unexpected keyword argument 'aggfunc'

In [8]:
df = pd.read_csv("weather2.csv")
df

       date      city  temperature  humidity
0  5/1/2017  new york           65        56
1  5/1/2017  new york           61        54
2  5/2/2017  new york           70        60
3  5/2/2017  new york           72        62
4  5/1/2017    mumbai           75        80
5  5/1/2017    mumbai           78        83
6  5/2/2017    mumbai           82        85
7  5/2/2017    mumbai           80        26

In [25]:
df.pivot_table(index="city",columns="date",aggfunc =pd.Series.nunique)

          humidity                                                temperature  \
date     12/1/2017 12/2/2017 12/3/2017 5/1/2017 5/2/2017 5/3/2017   12/1/2017
city
new york         1         1         1        1        1        1           1


date     12/2/2017 12/3/2017 5/1/2017 5/2/2017 5/3/2017
city
new york         1         1        1        1        1

In [20]:
df = pd.read_csv("weather3.csv")
df

        date      city  temperature  humidity
0   5/1/2017  new york           65        56
1   5/2/2017  new york           61        54
2   5/3/2017  new york           70        60
3  12/1/2017  new york           30        50
4  12/2/2017  new york           28        52
5  12/3/2017  new york           25        51