In [1]:
import pandas as pd

In [8]:
df_1 = pd.read_csv('Finance_1.csv', index_col=False)
df_2 = pd.read_csv('Finance_2.csv', index_col=False)

In [14]:
df_1.head()

,bank,company,company_type,cryptocurrency_iso_code
0,Howard Bancorp,Megatronic Mux,Limited Liability Limited Partnership,XBC
1,TIAA Bank,Lumencraft,Professional corporation,ZEC
2,Independent Bank Group,Bosch Brewing Company,Incorporated,DASH
3,Seaway Bank and Trust Company,Facebook,Professional Limited Liability Company,XMR
4,Camden National Bank,American Electric Power,Professional corporation,BTC

In [15]:
df_2.head()

,bank,price,price_in_btc,stock_exchange,stock_name,stock_ticker
0,Howard Bancorp,1328.69,0.790428,JPX,Mountain Province Diamonds Inc.,NWBI
1,TIAA Bank,1062.63,1.865300,NASDAQ,Sangamo Therapeutics,IPKW
2,Independent Bank Group,618.34,1.848834,SSE,Pepsico,HCXY
3,Seaway Bank and Trust Company,1397.09,1.831953,NYSE,Eaton Vance NextShares Trust,VYMI
4,Camden National Bank,873.47,0.198099,SSE,Invesco S&P SmallCap Materials ETF,ONCS

In [19]:
df_1.columns

Index(['bank', 'company', 'company_type', 'cryptocurrency_iso_code'], dtype='object')

In [20]:
df_2.columns

Index(['bank', 'price', 'price_in_btc', 'stock_exchange', 'stock_name',
       'stock_ticker'],
      dtype='object')

In [22]:
# Perform a left join on the 'bank' column
joined_df = pd.merge(df_1, df_2, on='bank', how='left')

# Display the joined dataset
#print(joined_df)
joined_df.head()

,bank,company,company_type,cryptocurrency_iso_code,price,price_in_btc,stock_exchange,stock_name,stock_ticker
0,Howard Bancorp,Megatronic Mux,Limited Liability Limited Partnership,XBC,1328.69,0.790428,JPX,Mountain Province Diamonds Inc.,NWBI
1,TIAA Bank,Lumencraft,Professional corporation,ZEC,1062.63,1.865300,NASDAQ,Sangamo Therapeutics,IPKW
2,Independent Bank Group,Bosch Brewing Company,Incorporated,DASH,618.34,1.848834,SSE,Pepsico,HCXY
3,Seaway Bank and Trust Company,Facebook,Professional Limited Liability Company,XMR,1397.09,1.831953,NYSE,Eaton Vance NextShares Trust,VYMI
4,Camden National Bank,American Electric Power,Professional corporation,BTC,873.47,0.198099,SSE,Invesco S&P SmallCap Materials ETF,ONCS