# Resources
## Instructor Name:- Santiago Basulto
## Channel:- [Freecodecamp](https://www.youtube.com/watch?v=gtjxAH8uaP0)
## Resource Link:- [Youtube](https://youtu.be/gtjxAH8uaP0?t=5070)

In [5]:
import math

In [2]:
def nCr(n, k):
    f = math.factorial
    return f(n) / (f(k) * f(n - k))

In [6]:
nCr(7,2)

21.0

##### 1. What's the probability when `n` = 10?

In [7]:
nCr(10,2)

45.0

##### 2. What's the probability when `n` is 15?

In [8]:
nCr(15,2)

105.0

##### 3. Implement the `birthday_probability` function

In [15]:
# Method 1

1 - ((364 / 365) ** nCr(10, 2))

0.11614023654879224

In [17]:
# Method 2
round(1 - ((364 / 365) ** nCr(10, 2)), 2)

0.12

### NBA Birthday Paradox Analysis

In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('nba_2017.csv')

In [20]:
df.head()

          Player Pos  Age                   Team  Birth Date
0   Alex Abrines  SG   23  Oklahoma City Thunder  01-08-1993
1     Quincy Acy  PF   26       Dallas Mavericks  06-10-1990
2     Quincy Acy  PF   26          Brooklyn Nets  06-10-1990
3   Steven Adams   C   23  Oklahoma City Thunder  20-07-1993
4  Arron Afflalo  SG   31       Sacramento Kings  15-10-1985

In [28]:
import pandas as pd

# Assuming your DataFrame is named 'df'
# Display the data types of all columns
print("Data Types of Columns:")
print(df.dtypes)

Data Types of Columns:
Player                          object
Pos                             object
Age                              int64
Team                            object
Birth Date              datetime64[ns]
Birth Date Formatted            object
dtype: object

##### 4. Create the `Birth Date` column

In [26]:
# Assuming your DataFrame is named 'df' and has a 'Birth Date' column
# Convert 'Birth Date' to datetime type
df['Birth Date'] = pd.to_datetime(df['Birth Date'], errors='coerce')  # 'coerce' handles invalid dates by converting them to NaT

# Check if 'Birth Date' is now a datetime type
if pd.api.types.is_datetime64_any_dtype(df['Birth Date']):
    # Apply the strftime formatting
    df['Birth Date Formatted'] = df['Birth Date'].dt.strftime('%m-%d')
    print(df[['Birth Date', 'Birth Date Formatted']])
else:
    print("Conversion to datetime failed. Check the 'Birth Date' column.")

    Birth Date Birth Date Formatted
0   1993-01-08                01-08
1   1990-06-10                06-10
2   1990-06-10                06-10
3          NaT                  NaN
4          NaT                  NaN
..         ...                  ...
546 1992-05-10                05-10
547        NaT                  NaN
548 1996-09-09                09-09
549        NaT                  NaN
550        NaT                  NaN

[551 rows x 2 columns]

In [27]:
df.head(2)

,Player,Pos,Age,Team,Birth Date,Birth Date Formatted
0,Alex Abrines,SG,23,Oklahoma City Thunder,1993-01-08,01-08
1,Quincy Acy,PF,26,Dallas Mavericks,1990-06-10,06-10

### Interlude: Combinatorics

For this project, you're free to use any techinque that you prefer to answer how many players share a birthday for a given team. But, one recommendation would be to use combinatorics; specifically the *Combinations*, using the `itertools.combinations` function. Here's a quick example. Suppose we have these samples:

| Name | Birthday  |
|------|-----------|
| John | March 5th |
| Mary | Sept 20th |
| Rob  | March 5th |

Using combinations, we can take all the samples in paris (`r=2`) to compare them:

| Person 1 | Person 2  |
|------|-----------|
| John | Mary |
| John | Rob |
| Mary  | Rob |

Using Python:

In [29]:
from itertools import combinations

### Activities

##### 5. How many pairs of players share a birthday for the **Atlanta Hawks**?

In [32]:
team_df = df.loc[df['Team'] == 'Atlanta Hawks']
team_df.head()

              Player Pos  Age           Team Birth Date Birth Date Formatted
37     Kent Bazemore  SF   27  Atlanta Hawks 1989-01-07                01-07
42   DeAndre' Bembry  SF   22  Atlanta Hawks 1994-04-07                04-07
75     Jose Calderon  PG   35  Atlanta Hawks        NaT                  NaN
116  Malcolm Delaney  PG   27  Atlanta Hawks 1989-11-03                11-03
130    Mike Dunleavy  SF   36  Atlanta Hawks        NaT                  NaN

In [33]:
team_df.shape

(22, 6)

In [34]:
names_df = pd.DataFrame(combinations(team_df['Player'], 2), columns = ["Player 1", "Player 2"])
names_df

            Player 1               Player 2
0      Kent Bazemore        DeAndre' Bembry
1      Kent Bazemore          Jose Calderon
2      Kent Bazemore        Malcolm Delaney
3      Kent Bazemore          Mike Dunleavy
4      Kent Bazemore          Mike Dunleavy
..               ...                    ...
226       Mike Scott            Edy Tavares
227       Mike Scott  Taurean Waller-Prince
228  Thabo Sefolosha            Edy Tavares
229  Thabo Sefolosha  Taurean Waller-Prince
230      Edy Tavares  Taurean Waller-Prince

[231 rows x 2 columns]

##### 6. How many pairs of players share a birthday in the **Cleveland Cavaliers**?

##### 7. In the **Dallas Mavericks**, who shares a birthday with *J.J. Barea*?