# Resources
## Instructor Name:- Santiago Basulto
## Channel:- [Freecodecamp](https://www.youtube.com/watch?v=gtjxAH8uaP0)
## Resource Link:- [Youtube](https://www.youtube.com/watch?v=gtjxAH8uaP0)

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('words.csv', index_col='Word')

In [4]:
df.head()

       Char Count  Value
Word
a               1      1
aa              2      2
aaa             3      3
aah             3     10
aahed           5     19

### How many elements does the dataframe have?

In [7]:
# method 1

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 370103 entries, a to zyzzyvas
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Char Count  370103 non-null  int64
 1   Value       370103 non-null  int64
dtypes: int64(2)
memory usage: 8.5+ MB

In [8]:
# method 2

df.shape

(370103, 2)

### What is the value of the word <mark>microspectrophotometric ?

In [10]:
df.loc['microspectrophotometric']

Char Count     23
Value         296
Name: microspectrophotometric, dtype: int64

### What is the highest possible value of a word?

In [13]:
#Method 1

df['Value'].max()

390

In [14]:
#Method 2

df.max()

Char Count     31
Value         390
dtype: int64

In [16]:
#Method 3

df.describe()

          Char Count          Value
count  370103.000000  370103.000000
mean        9.442501     110.954526
std         2.916439      40.745456
min         1.000000       1.000000
25%         7.000000      82.000000
50%         9.000000     107.000000
75%        11.000000     136.000000
max        31.000000     390.000000

### Which of the following words have a Char Count of 7 and a Value of 87 ?

In [17]:
df.loc[[
    "pinfish",
    "glowing",
    "enfold",
    "microbody"
]]

           Char Count  Value
Word
pinfish             7     81
glowing             7     87
enfold              6     56
microbody           9    104

### What is the highest possible length of a word?

In [18]:
df.describe()

          Char Count          Value
count  370103.000000  370103.000000
mean        9.442501     110.954526
std         2.916439      40.745456
min         1.000000       1.000000
25%         7.000000      82.000000
50%         9.000000     107.000000
75%        11.000000     136.000000
max        31.000000     390.000000

### What is the word with the value of 319?

In [21]:
# method 1

df.sort_values(by=['Value'], ascending=False)

                                 Char Count  Value
Word
hydroxydesoxycorticosterone              27    390
trinitrophenylmethylnitramine            29    389
hydroxydehydrocorticosterone             28    377
cyclotrimethylenetrinitramine            29    362
dichlorodiphenyltrichloroethane          31    348
...                                     ...    ...
ba                                        2      3
ab                                        2      3
aa                                        2      2
b                                         1      2
a                                         1      1

[370103 rows x 2 columns]

In [25]:
# method 2

df.loc[df['Value'] == 321]

                          Char Count  Value
Word
overpresumptuousness              20    321
preobtrudingpreobtrusion          24    321

### What is the most common value?

In [26]:
# Method 1

df['Value'].describe()

count    370103.000000
mean        110.954526
std          40.745456
min           1.000000
25%          82.000000
50%         107.000000
75%         136.000000
max         390.000000
Name: Value, dtype: float64

In [28]:
# Method 2

df['Value'].mode()

0    102
Name: Value, dtype: int64

In [33]:
# Method 3 [most used]

df['Value'].value_counts().head()

Value
102    3787
97     3783
100    3770
93     3760
98     3750
Name: count, dtype: int64

### What is the shortest word with value 274?

In [35]:
df.loc[df['Value'] == 274].sort_values(by='Char Count')

                        Char Count  Value
Word
unvoluptuousness                16    274
hyperlustrousness               17    274
ventrohysteropexy               17    274
nonsymphoniousness              18    274
uncontemptuousness              18    274
nondisputatiousness             19    274
unproportionateness             19    274
anthropophysiography            20    274
noncontemporaneously            20    274
overrepresentatively            20    274
counterpronunciamento           21    274
psychophysiologically           21    274
overimpressionableness          22    274

### Create a column Ratio which represents the 'Value Ratio' of a word

In [36]:
df['Ratio'] = df['Value'] / df['Char Count']
df.head()

       Char Count  Value     Ratio
Word
a               1      1  1.000000
aa              2      2  1.000000
aaa             3      3  1.000000
aah             3     10  3.333333
aahed           5     19  3.800000

### What is the maximum value of Ratio?

In [37]:
df['Ratio'].max()

26.0

### What word is the one with the highest Ratio?

In [40]:
# Method 1

df.sort_values(by='Ratio', ascending=False).head()

       Char Count  Value  Ratio
Word
z               1     26   26.0
xyz             3     75   25.0
y               1     25   25.0
wuzzy           5    121   24.2
xx              2     48   24.0

In [42]:
#Method 2

df.loc[df['Ratio'] == df['Ratio'].max()]

      Char Count  Value  Ratio
Word
z              1     26   26.0

### How many words have a Ratio of 10?

In [46]:
# Method 1

df.loc[df['Ratio'] == 10].shape

(5558, 3)

In [45]:
# Method 2

df.query("Ratio == 10").shape

(5558, 3)

### What is the maximum Value of all the words with a Ratio of 10?

In [47]:
df.query("Ratio == 10").sort_values(by="Value", ascending=False).head()

                          Char Count  Value  Ratio
Word
electrocardiographically          24    240   10.0
anatomicopathological             21    210   10.0
pathologicoanatomical             21    210   10.0
anatomicochirurgical              20    200   10.0
hypsidolichocephalic              20    200   10.0

In [48]:
df.loc[df['Ratio'] == 10, 'Value'].max()

240

### Of those words with a Value of 260, what is the lowest Char Count found?

In [49]:
df.query("Value == 260").sort_values(by="Char Count")

                        Char Count  Value      Ratio
Word
nonsynonymously                 15    260  17.333333
gastrohysteropexy               17    260  15.294118
hydroxytryptamine               17    260  15.294118
unvituperativeness              18    260  14.444444
noninstructiveness              18    260  14.444444
nonadventurousness              18    260  14.444444
psychophysiologist              18    260  14.444444
overobsequiousness              18    260  14.444444
hyperobtrusiveness              18    260  14.444444
hyperridiculousness             19    260  13.684211
hypsiprymnodontinae             19    260  13.684211
extraconstitutional             19    260  13.684211
dihydrostreptomycin             19    260  13.684211
nonsubconsciousness             19    260  13.684211
scleroconjunctivitis            20    260  13.000000
thermophosphorescent            20    260  13.000000
hexosemonophosphoric            20    260  13.000000
photochromolithograph           21    260  12.380952
chromophotolithograph           21    260  12.380952
trichloronitromethane           21    260  12.380952
philosophicoreligious           21    260  12.380952
nitrotrichloromethane           21    260  12.380952
electrotelethermometer          22    260  11.818182
dacryocystoblennorrhea          22    260  11.818182